.message-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100vh;
  transition: max-height 0.2s ease-in;
  overflow: hidden;
}

.message-container:empty{
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

